main {
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 22px;
  box-shadow: 0 0 16px 5px #dadada;
}

hr {
  margin: 2rem 0;
  border: 1px solid #686c77;
}

.protected-content {
  color: #353535;
  padding: 1.5rem;
  border-radius: 4px;
}

#protected-content p {
  margin: 0;
}

.authenticated {
  border-bottom: 3px solid #212124;
}

.admin {
  border-top: 3px solid #212124;
  border-bottom: 3px solid #212124;
}

a {
  text-decoration: none;
}
